


/*Primeiro definimos o conteúdo da página, onde damos a propriedade relativa e um afastamento de 18% do top*/
.pageContent{
    margin: auto;
    background-color: #f6f8f7;
    position: relative;
    top: 18%;
    max-width: 1200px;
    padding: 32px;
}

/*Aqui definimos que o elemento se comportará como uma tabela, o que permite ótimo controle especialmente para alinhamentos verticais e horizontais
  O padding, na margin estamos centralizando essa sessão, e o boxsizing
  está considerando o tamanho do padding e a borda
*/
section.vspotlight{
    display: table;
    padding: 32px 0px;
    margin: 0px auto;
    width: 100%;
    box-sizing: border-box;
}


/*O wrap serve basicamente como um container dentro de vspotlight, onde os cards irão ficar*/
.wrap{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

article{
    unicode-bidi: isolate;
}

section.vspotlight article, section.hspotlight article{
    display: table-cell; /*define cada artigo como célula de tabela, o que faz com que os itens sejam exibidos em linha*/
    width: 25%;
    vertical-align: top;
    position: relative;
    overflow: hidden;
}

article a.thumb{
    box-sizing: border-box;
    margin: 0 12px;
    position: relative;
    overflow: hidden;
    display: block;
}

section a{
    text-decoration: none;
    cursor: pointer;
}

  section.vspotlight article img, section.hspotlight article img{
    width: 100%;
    min-width: 100%;
    transition: transform .5s ease-out;
    border-radius: 4px;
    display: block;
    object-fit: cover;
    object-position: center;
}

section.hspotlight .caption, section.upcoming .caption {
    display: block;
    margin: 12px 12px 0px 12px;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    color: #252627;
}
section.hspotlight .caption a, section.upcoming .caption a {
    color: #000000;
    text-decoration: none;
}

section.hspotlight article img {
    height: 160px;
}

section.vspotlight article img {
    height: 475px;
}

section.vspotlight .caption{
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin: 0px;
    padding: 24px;
    min-height: 66px;
    box-sizing: border-box;
    background-color: rgba(34, 63, 90, 0.75);
    color: #fff;
    font-size: 18px;
    line-height: 1.25;
    font-weight: 900;
    letter-spacing: 0.005em;
}


section.vspotlight img.thumb:hover{
    transform: scale(1.04);
    transition: transform .75s ease-in-out;
}
  
section.hspotlight{
    display: block;
    padding: 16px 0px;
}

h1, h2, h3 {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
section.vspotlight .tituloSection h2, section.hspotlight .tituloSection h2{
    font-size: 36px;
    color: #000;
    font-weight: 900;
    letter-spacing: -0.5px;
    line-height: 1.2em;
    display: block;
    margin: 0px 0px 18px 0px;
    font-family: 'Inter Var', sans-serif;
}

section.vspotlight .tituloSection a{
    text-decoration: none;
}

.tituloSection{
    font-size: 36px;
    color: #000000;
    font-weight: 900;
    letter-spacing: -0.5px;
    line-height: 1.2em;
    display: block;
    margin: 0px 0px 18px 0px;
    font-family: 'Inter Var', sans-serif;
    text-decoration: none;
  }

